.container {
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.price-header {
    padding-bottom: 55px;
}

.main-header .main-navigation {
    /*Блочная модель*/
    width: 780px;
    float: left;
}

.main-header .user-block {
    /*Блочная модель*/
    width: 140px;
    float: right;
}

.breadcrumbs {
  /*Блочная модель*/
  margin-bottom: 50px;
}

.index-logo {
    /*Блочная модель*/
    width: 368px;
    height: 204px;
    margin: 0 auto;
    margin-bottom: 25px;
}

h1 {
  margin-bottom: 25px;
}

.services-title {
  /*Блочная модель*/
  margin-bottom: 60px;

  /*Типографика*/
  text-align: center;
}

.features {
    margin-bottom: 80px;
}

.features-item {
    /*Блочная модель*/
    width: 300px;
    margin-right: 20px;
    float: left;
}

.features-item:last-child {
    margin-right: 0;
}

.index-content {
    /*Блочная модель*/
    padding: 50px 80px;
    margin-bottom: 35px;
}

.index-content-left {
    /*Блочная модель*/
    width: 380px;
    float: left;
}

.index-content-right {
    /*Блочная модель*/
    width: 300px;
    float: right;
}

.item-content-left {
  /*Блочная модель*/
  width: 480px;
  float: left;
}

.item-content-right {
  /*Блочная модель*/
  width: 400px;
  float: right;
  padding-top: 25px;
}

.services {
  padding-bottom: 80px;
}

.services-left {
  /*Блочная модель*/
  width: 400px;
  float: left;
}

.services-right {
  /*Блочная модель*/
  width: 480px;
  float: right;
}

.catalog-left {
  /*Блочная модель*/
  width: 180px;
  float: left;
}

.catalog-right {
  /*Блочная модель*/
  width: 720px;
  float: right;
}

.catalog-gallery {
  margin-bottom: 45px;
}

.catalog-item {
  /*Блочная модель*/
  display: inline-block;
  width: 220px;
  margin-right: 20px;

  /*Типографика*/
  vertical-align: top;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.main-footer {
    /*Блочная модель*/
    padding-top: 60px;
    padding-bottom: 40px;
    margin-top: 60px;
}

.price-footer {
  margin-top: 0;
}

.main-footer .footer-contacts {
    /*Блочная модель*/
    width: 320px;
    float: left;
    margin-right: 60px;
}

.main-footer .footer-social {
    /*Блочная модель*/
    width: 180px;
    float: left;
}

.main-footer .footer-copyright {
    /*Блочная модель*/
    width: 180px;
    float: right;
}
