body {
    /*Блочная модель*/
    min-width: 960px;

    /*Типографика*/
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    font-family: 'PT Sans Narrow', Arial sans-serif;
    text-transform: uppercase;

    /*Оформление*/
    background: url(../img/bg-content.jpg) no-repeat center top #000;
    color: #fff;
}

.container {
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.main-header {
    margin-bottom: 60px;

    color: #fff;

    background-color: #000;
}

.main-navigation {
    width: 780px;
    float: left;
}

.main-navigation ul {
    margin: 0;
    padding: 0;

    list-style: none;
    font-size: 0;
}

.main-navigation li {
    display: inline-block;

    vertical-align: top;
    font-size: 16px;
    line-height: 20px;
}

.main-navigation a {
    display: block;
    padding: 25px 20px;

    color: #fff;

    text-decoration: none;
}

.main-navigation a:hover {
    background: #242424;
}

.user-block {
    max-width: 140px;
    float: right;
}

.login {
    /*Блочная модель*/
    position: relative;
    display: inline-block;
    padding: 25px 20px;
    padding-left: 50px;

    /*Типографика*/
    font-size: 16px;
    line-height: 20px;
    vertical-align: top;

    /*Оформление*/
    color: #fff;
    text-decoration: none;
}

.login:hover {
    background-color: #242424;
}

.login::before {
    content: "";
    position: absolute;
    top: 28px;
    left: 20px;

    width: 18px;
    height: 18px;

    background: #ff0000;
    background-position: -1px -15px;
    opacity: 0.3;
}

.login:hover::before {
    opacity: 1;
}

.index-logo {
    width: 368;
    height: 204;
    margin: 0 auto;
    margin-bottom: 25px;
}

.index-logo img {
    width: 368px;
    height: 204;
}

.price-header {
    padding-bottom: 55px;
}

.breadcrumbs {
  margin-bottom: 50px;
}

h1 {
  margin-bottom: 25px;
}

.services-title {
  margin-bottom: 60px;

  text-align: center;
}

.features {
    margin-bottom: 80px;
}

.features-item {
    width: 300px;
    margin-right: 20px;
    float: left;

    text-align: center;
}

.features-item:last-child {
    margin-right: 0;
}

.features-name {
    position: relative;

    display: block;
    margin-bottom: 30px;
    padding-bottom: 35px;

    font-size: 30px;
    line-height: 42px;
}

.features-item p {
    margin: 10px;
    margin-bottom: 0;
}

.features-name::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;

    display: block;
    width: 20px;
    height: 20px;
    margin-left: -10px;

    background-color: #fff;
    transform: rotate(45deg);
}

.index-content {
    padding: 50px 80px;
    margin-bottom: 35px;

    background: url("../img/bg-pattern.jpg") #f8f5f2;
    color: #000;
}

.index-content-left {
    /*Блочная модель*/
    width: 380px;
    float: left;
}

.index-content-right {
    /*Блочная модель*/
    width: 300px;
    float: right;
}

.item-content-left {
  /*Блочная модель*/
  width: 480px;
  float: left;
}

.item-content-right {
  /*Блочная модель*/
  width: 400px;
  float: right;
  padding-top: 25px;
}

.services {
  padding-bottom: 80px;
}

.services-left {
  /*Блочная модель*/
  width: 400px;
  float: left;
}

.services-right {
  /*Блочная модель*/
  width: 480px;
  float: right;
}

.catalog-left {
  /*Блочная модель*/
  width: 180px;
  float: left;
}

.catalog-right {
  /*Блочная модель*/
  width: 720px;
  float: right;
}

.catalog-gallery {
  margin-bottom: 45px;
}

.catalog-item {
  /*Блочная модель*/
  display: inline-block;
  width: 220px;
  margin-right: 20px;

  /*Типографика*/
  vertical-align: top;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.main-footer {
    /*Блочная модель*/
    padding-top: 60px;
    padding-bottom: 40px;
    margin-top: 60px;
}

.price-footer {
  margin-top: 0;
}

.main-footer .footer-contacts {
    /*Блочная модель*/
    width: 320px;
    float: left;
    margin-right: 60px;
}

.main-footer .footer-social {
    /*Блочная модель*/
    width: 180px;
    float: left;
}

.main-footer .footer-copyright {
    /*Блочная модель*/
    width: 180px;
    float: right;
}
